*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/public/*
!/storage/app/public/.gitignore
storage/framework/*
!storage/framework/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

/database/*.sqlite
/database/*.sqlite3

/bootstrap/cache/*
!/bootstrap/cache/.gitignore
.env.*
!.env.example
*.key
